/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 0 10rem;
}

/* Modal Content/Box */
.modal-content {
  background-color: #888;
  overflow: auto hidden; /* Enable scroll if needed */
  margin: 5% 0%; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-span-7 {
  grid-column: span 7;
}

.grid-col-span-6 {
  grid-column: span 6;
}

.grid-col-span-5 {
  grid-column: span 5;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-1 {
  grid-column: span 1;
}

@media only screen and (max-width: 767px) {

  .modal {
    padding: 0 2rem;
  }

  .grid-col-span-7 {
    grid-column: span 7;
  }
  
  .grid-col-span-6 {
    grid-column: span 7;
  }
  
  .grid-col-span-5 {
    grid-column: span 7;
  }
  
  .grid-col-span-4 {
    grid-column: span 7;
  }
  
  .grid-col-span-3 {
    grid-column: span 7;
  }
  
  .grid-col-span-2 {
    grid-column: span 7;
  }
  
  .grid-col-span-1 {
    grid-column: span 7;
  }

}