@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@700&family=Poppins&family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@700&family=Bebas+Neue&family=Poppins&family=Source+Code+Pro:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Bebas Neue', cursive;

}

.header 
{	
	margin: 0;
	padding: 0;
	background-color: #1A1F7C;
	color: white;
	text-align: center;
	line-height: 90px;
	font-size: 5rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	grid-template-rows: auto 1fr;
	padding: 2.5rem;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.user-info {
	background-color: palegreen;
	height: 200px;
}

.user-actions {
	display: flex;
	background-color: #1A1F7C;
	height: 300px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
}

.logo-size {
	font-size: 20px;
	height: 170px;
	width: auto;
}

.button-action {
	background-color: #F89318;
	border-radius: 25px;
	padding: .5rem 1rem;
	width: 70%;
	margin-top: 1rem;
}