@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;

}

.header 
{	
	margin: 0;
	padding: 0;
	background-color: #1A1F7C;
	color: white;
	text-align: center;
	line-height: 90px;
	font-size: 5rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	grid-template-rows: auto 1fr;
	padding: 2.5rem;
}

.grid-col-span-2 {
	grid-column: span 2;
}

.user-info {
	background-color: palegreen;
	height: 200px;
}

.user-actions {
	display: flex;
	background-color: #1A1F7C;
	height: 300px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
}

.logo-size {
	font-size: 20px;
	height: 170px;
	width: auto;
}

.button-action {
	background-color: #F89318;
	border-radius: 25px;
	padding: .5rem 1rem;
	width: 70%;
	margin-top: 1rem;
}